<div id="specificthread">
  <h3><%= thread.title %></h3>
  <h4>Posted By: <%= thread.author %></h4>
  <h5>Date Created: <%= thread.date %></h5>
  <h6><%= thread.body %></h6>
  <% if (thread.comments) { %>
      <% for (var i = 0; i < thread.comments.length; i++) { %>
          <h6><%= thread.comments[i] %></h6>
      <% } %>
  <% } else { %>
      <h6>There are currently no comments</h6>
  <% } %>
</div>
<div>
  <form action="/threads/<%= thread._id %>/comments?_method=PATCH" method="post">
    <input type="text"
           name="thread[comments]"
           placeholder="comment"><br/>
    <input type="submit" value="Post Comment">
  </form>
<% if (currentUser == undefined || currentUser.username === "74382942892747384729342LOGMEOUT") { %>
  <a href="/">Back to Homepage</a>
<% } else if (currentUser.username === thread.author) { %>
  <form action="/threads/<%= thread._id %>?_method=DELETE"
      method="post">
  <input type="submit" value="Delete Thread"><br/>
  <a href="/thread">Back to Homepage</a>
<% } else if (currentUser) { %>
  <a href="/thread">Back to Homepage</a>
<% } %>
  </form>
</div>
