<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if (currentUser == undefined) { %>
      <a class="navbar-brand ga-font" id="ga-color" href="/">The Forum</a>
      <% } else if (currentUser) { %>
      <a class="navbar-brand ga-font" id="ga-color" href="/thread">The Forum</a>
      <% } %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div>
      <ul class="nav navbar-nav">
        <li>
          <% if (currentUser == undefined) { %>

          <% } else if (currentUser) { %>
          <a href="/threads/new">New Thread <span class="sr-only">(current)</span></a>
          <% } %>
        </li>
        <li>
          <a href="/threads/trending">Trending</a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li>
          <% if (currentUser == undefined) { %>
          <a href="/login">Log in</a>
          <% } else if (currentUser) { %>
          <a href="/">Logout</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<% threads.forEach(function (thread, i) { %>
  <div class ="thread">
    <h3 class="likeDisplay">
    <%= thread.likeCount %>
    <a href="/threads/<%= thread._id %>" class="threadName"><%= thread.title %> </a>
    </h3>
    <h6>
      <a href="/threads/<%= thread._id %>" class="comment"><%= thread.comments.length %>
        <% if (thread.comments.length == 1) { %>
          comment
        <%  } else { %>
          comments
        <% } %>
      </a>
    </h6>
  </div>
<% }) %>
