<h1> Welcome </h1>
<% threads.forEach(function (thread, i) { %>
  <div class = "thread">
    <h3>
      <a href="/threads/<%= thread._id %>" class="threadName"><%= thread.title %> </a>
    </h3>
<% if (thread.comments.length == 0) { %>
  <h6>
    <a href="/threads/<%= thread._id %>" class="comment"> comment </a>
  </h6>
<% } else if (thread.comments.length == 1) { %>
  <h6>
    <a href="/threads/<%= thread._id %>" class="comment"><%= thread.comments.length %> comment </a>
  </h6>
<% } else { %>
  <h6>
    <a href="/threads/<%= thread._id %>" class="comment"><%= thread.comments.length %> comments </a>
  </h6>
<% } %>
  <h6><%= thread.likeCount %></h6>
  </div>
<% }) %>
<h4>
  <a class="btn btn-success" href="/threads/new" role="button">Make a new thread</a>
</h4>
<h6>
  <a class="btn btn-danger" href="/" role="button">Logout</a>
</h6>
